

/* .mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* body style */
body{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav bar style */
.nav_bar{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.logo{
    /* height: 1000px; */
    width: 1px;
}
.page_land{
    display: flex;
    /* margin: 10px; */
    font-size: medium;
    margin-top: 5px;
}
.page_land>div{
    margin: 7px;
}

/* first body style */
.body1{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin: 190px;
}
.body1>.right>.text_head{
    width: 50%;
    flex-wrap: wrap;
    
}

.body1>.right>.text_body{
    width: 50%;
    flex-wrap: wrap;
    font-size: small;
    
}
.body1>.left>img{
    /* height:50%; */
    width: 350px;
}
.body1>.left{
    flex-direction: column;
}
.body1>.right{
    flex-direction: column;
}
.button>button{
    background-color: #458FF6;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 18px;

}
.right{
    flex-direction: column;
    ma
}
.left{
    flex-direction: column;
}
.body1{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

/* our services */
.services{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services>h2{
    /* display: flex; */
    /* justify-items:center; */
    margin-left: 40%;
}
.services>p{
    /* margin-left: 20%; */
    margin:0% 20%;
    font-size: small;
    justify-content: center;
    font-weight: 15;
}
/* container */
.container{
    /* display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 20px auto;
    gap: 20px; */

    display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.box{
    /* flex: 1 0 30%;
    height: 300px;
    background-color: #dde0e3;
    color: black; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 20px; */
    /* border-radius: 16px; */
    flex: 1 0 28%;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  /* transition: transform 0.3s ease; */
}
.box>img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.box>h3{
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}
.box>p{
    font-size: 16px;
    color: #7D7987;
    line-height: 28px;

}